.aside-right {
  flex: none;
  width: 180px;
  @include max(680) {
    display: none;
  }
}


.aside-right__menu {
  margin-bottom: 25px;
}
.aside-right__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0 7px  10px 7px;
  text-transform: uppercase;
  color: $highlight;
  border-bottom: 2px solid #e3e6e8;
}
.aside-right__list {
  margin: 0;
  padding: 5px 0 0 0;
}
.aside-right__item {
  padding: 0 7px;
  list-style: none;
}
.aside-right__link {
  font-size: 14px;
  display: block;
  padding: 5px 0;
  transition: color .5s;
  color: #262626;
  &:hover {
    color: $highlight;
  }
}

.aside-right__banner {
  margin-bottom: 25px;
  padding: 22px 10px 17px 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.aside-right__banner-link {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  span {
    font-size: 20px;
    color: #3bb6ff;
  }
}


.aside-last-article__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0 7px  10px 7px;
  text-transform: uppercase;
  color: $highlight;
  border-bottom: 2px solid #e3e6e8;
}
.aside-last-article__list {
  margin: 0;
  padding: 5px 0 0 0;
}
.aside-last-article__item {
  margin: 5px 0 10px 0;
  padding: 0 7px;
  list-style: none;
}
.aside-last-article__link {
  font-size: 14px;
  display: block;
  margin-bottom: 3px;
  padding: 0;
  &:hover {
    text-decoration: none;
  }
}
.aside-last-article__date {
  font-size: 10px;
  display: block;
  color: #141f1f;
}
