.header-contacts {
  .container {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    @include max(560) {
      padding: 0;
    }
  }
}
.logo {
  position: relative;
  flex: none;
  width: 165px;
  margin-top: -35px;

  @include max(560) {
    display: none;
  }
  &::before {
    position: absolute;
    right: -100vw;
    bottom: 0;
    width: 100vw;
    height: 2px;
    content: '';
    background-color: $highlight;

    @include max(920) {
      display: none;
    }
  }
  img {
    display: block;
    width: 100%;
  }
}
.header-contacts__list {
  display: flex;
  flex: auto;
  justify-content: flex-end;
}
.header-contacts__item {
  display: flex;
  align-items: center;
  flex: auto;
  justify-content: flex-end;
  &:first-child {
    padding-left: 0;
  }
  svg {
    flex: none;
    max-width: 14px;
    max-height: 14px;
    margin-right: 10px;

    fill: $highlight-hover;
  }
  span {
    font-size: 11px;
    font-weight: 700;
    color: #fff;
  }
  a {
    font-size: 12px;
    font-weight: 400;
    transition: color .5s;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: $highlight;
    }
  }
}
.header-contacts__item--adress {
  @include max(920) {
    display: none;
  }
}
.header-contacts__item--phone {
  @include max(560) {
    display: none;
  }
  a {
    font-size: 16px;
  }
}
.header-contacts__item--clock {
  @include max(920) {
    display: none;
  }
}
