.main-header {
  margin-top: -45px;
  padding-top: 45px;
  background-image: url('../img/bg-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include max(560) {
    margin-top: 0;
    padding-top: 0;
  }
  &.main-header--index {
    background-image: url('../img/main-header-index.jpg');
  }
}
.header-bottom {
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
  }
}
.main-header-bottom__title {
  font-size: 36px;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #fff;

  @include max(560) {
    font-size: 28px;
  }
  &::before {
    position: absolute;
    top: 0;
    right: calc(100% + 15px);
    bottom: 0;
    width: 100vw;
    height: 2px;
    margin: auto;
    content: '';
    background-color: $highlight;
  }
}
