.sale-section {
  background-image: url('../img/bg-sale-section.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .container {
    padding-top: 25px;
    padding-bottom: 20px;
  }
}
.sale-block {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  border: 4px solid rgba(255, 255, 255, .36);
  &::before {
    position: absolute;
    top: -14px;
    right: 10px;
    bottom: 10px;
    left: -14px;
    content: '';
    pointer-events: none;
    border: 4px solid transparent;
    border-image: linear-gradient(to left, #ca3f42 0%, #0087d7 100%);
    border-image-slice: 1;
  }
}
.sale-block__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 35px;
  text-transform: uppercase;
  color: #fff;
}
.sale-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 730px;
}
.sale-form__input {
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px;
  padding: 7px 10px;
}
.sale-form__input--submit {
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px;
  padding-top: 3px;
  border-radius: 6px !important;
}
