//begin contacts-section
section.contacts-section
  .container
    header.section-header
      h3.section-header__title Как нас найти
  .contacts-section__inn
    .contacts-section__left
      .contacts-section__left-inn
        h3.contacts-section__title Наш адрес
        span.contacts-section__text г. Санкт-Петербург, ул. Михайлова, дом 21.
        span.contacts-section__text Въезд через шлагбаум. 5 минут от метро Площадь Ленина.
        span.contacts-section__text После въезда через 50 метров слева.
        a(href="https://goo.gl/maps/XwUu8qvjxv42" target="_blank" rel="nofollow noopener noreferrer").btn.btn-blue Подробная карта проезда
        h3.contacts-section__title Телефон
        a(href="tel:+78129131017").contacts-section__phone +7 (812) 913-10-17
        h3.contacts-section__title e-mail
        a(href="mailto:bmw@creative-m.ru").contacts-section__mail bmw@creative-m.ru
        button.btn.btn-red.popup-open Записаться на прием


    .contacts-section__right
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.5020199793285!2d30.3595995160977!3d59.956995681882844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631793b08ef89%3A0x16e173bc6f2bfb7f!2z0YPQuy4g0JzQuNGF0LDQudC70L7QstCwLCAyMSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsINCg0L7RgdGB0LjRjywgMTk1MDA5!5e0!3m2!1sru!2sua!4v1520003639515" frameborder="0" style="border:0" allowfullscreen)

//end contacts-section
