//begin footer-lg
footer.footer-lg
  .container
    .footer-lg__logo
      a(href="#").footer-lg__logo
        img(src="assets/img/logo.jpg" alt="Creative Motors company logo")

    .footer-lg__menu
      h3.footer-lg__title Услуги
      ul.footer-lg__menu
        li.footer-lg__item
          a(href="#").footer-lg__link Ремонт ходовой
        li.footer-lg__item
          a(href="#").footer-lg__link Ремонт двигателей
        li.footer-lg__item
          a(href="#").footer-lg__link Ремонт электрики
        li.footer-lg__item
          a(href="#").footer-lg__link Ремонт выхлопа
    .footer-lg__inst
      h3.footer-lg__title Наш instagram
      .footer-lg__social
        img(src="assets/img/inst.png" alt="soc")
    .footer-lg__vk
      h3.footer-lg__title Мы вконтакте
      .footer-lg__social
        img(src="assets/img/vk.jpg" alt="soc")

//end   footer-lg