//begin footer
footer.footer
  .container
    span.footer__copyright Копирайт 2018 ООО Креатив Моторс
    span.footer__slogan “Ваш BMW в надежных руках.”
    span.footer__proshift
      |Сделано в
      =" "
      a(href="#") ProShift
//end   footer