// begin header
header.header
  //begin top-header
  .top-header
    .container
      .header-messenger
        span.header-messenger__text Свяжитесь с нами прямо сейчас!
        .header-messenger__list
          a(href="tg://resolve?domain=nikname").header-messenger__link
            img(src="assets/img/telegram.svg" alt="telegram link")
          a(href="whatsapp://send?phone=+88129396401").header-messenger__link
            img(src="assets/img/whatsapp.svg" alt="whatsapp link")
          a(href="viber://chat?number=+88129396401").header-messenger__link
            img(src="assets/img/viber.svg" alt="viber link")
      button.btn.btn-red Заказать звонок

  //end top-header

  // begin main-header
  .main-header
    include header-contacts

    //nav.menu
    //.main-header-bottom
      h1.main-header-bottom__title #{pageHeaderTitle}

      include ../elements/breadcrumbs
  // end main-header
// end header