//begin our-service
section.our-service
  .container
    header.section-header
      h3.section-header__title Наши услуги для вашего BMW
      
    .our-service__list
      a(href="#").our-service__item.our-service__item--01
        .our-service__icon
          svg
            use(xlink:href="assets/img/sprite.svg#mechanic")
        .our-service__text Ремонт
          br
          |ходовой
      a(href="#").our-service__item.our-service__item--02
        .our-service__icon
          svg
            use(xlink:href="assets/img/sprite.svg#mechanic")
        .our-service__text Ремонт
          br
          |двигателей и КПП
      a(href="#").our-service__item.our-service__item--03
        .our-service__icon
          svg
            use(xlink:href="assets/img/sprite.svg#mechanic")
        .our-service__text Диагностика и ремонт
          br
          |электрики
      a(href="#").our-service__item.our-service__item--04
        .our-service__icon
          svg
            use(xlink:href="assets/img/sprite.svg#mechanic")
        .our-service__text Замена расходных
          br
          |материалов
      a(href="#").our-service__item.our-service__item--05
        .our-service__icon
          svg
            use(xlink:href="assets/img/sprite.svg#mechanic")
        .our-service__text Ремонт выхлопной
          br
          |системы

    footer.our-service__footer
      button.btn.btn-red.popup-open Записаться на ремонт

//end our-service
