//begin sale-section
section.sale-section
  .container
    .sale-block
      h3.sale-block__title Получите скидку при заказе через сайт
      form.sale-form
        input.sale-form__input(name="name" placeholder="Имя")
        input.sale-form__input(name="phone" placeholder="Телефон")
        input.sale-form__input--submit.btn.btn-red(value="Получить скидку")
//end sale-section
