//begin second-section
section.second-section
  .container
    header.section-header
      h3.section-header__title Предложения специально для вас!

    .second-section-slider
      .second-section-slider__item
        .second-section-slider__item-inn
          .second-section-slider__item--left
            h3.second-section-slider__title Ремонт заднего редуктора
            p BMW E81, E87, E88, E82, E90, E91, E92, E93 под ключ
              br
              |за
              =" "
              strong 22.000
              =" "
              | рублей!
            button.btn.btn-red.popup-open Получить скидку
          .second-section-slider__item--right(style="background-image:url('assets/img/second-section-slider/slide-01.jpg')")

      .second-section-slider__item
        .second-section-slider__item-inn
          .second-section-slider__item--left
            h3.second-section-slider__title Ремонт переднего редуктора
            p BMW E81, E87, E88, E82, E90, E91, E92, E93 под ключ
              br
              | за
              =" "
              strong 22.000
              =" "
              | рублей!
            button.btn.btn-red.popup-open Получить скидку
          .second-section-slider__item--right(style="background-image:url('assets/img/second-section-slider/slide-02.jpg')")

      .second-section-slider__item
        .second-section-slider__item-inn
          .second-section-slider__item--left
            h3.second-section-slider__title Ремонт редуктора
            p BMW E81, E87, E88, E82, E90, E91, E92, E93 под ключ
              br
              | за
              =" "
              strong 22.000
              =" "
              | рублей!
            button.btn.btn-red.popup-open Получить скидку
          .second-section-slider__item--right(style="background-image:url('assets/img/second-section-slider/slide-03.jpg')")

//end second-section
