//begin service-section
section.service-section
  .container
    header.service-section__header
      .service-section__header--left
        h3.service-section__subtitle Наш сервис
        h2.service-section__title BMW и
          br
          |только BMW
      .service-section__header--text
        p Creative Motors - это специализированный сервис по ремонту BMW и только BMW! Ведь узкая специализация - это намного лучше, нежели когда везде, да по-понемногу! У нас нет кучи менеджеров, которым надо платить зарплату, у нас нет секретарш, начальников, замначальников, которым так же нужно платить, а кроме как из кармана клиента, этим средствам взяться не откуда! Отсюда и стоимость работ и запасных частей!

    .service-section__list
      .service-section__item
        .service-section__icon
          svg
            use(xlink:href="assets/img/sprite.svg#piston")
        .service-section__text Сложный ремонт
          br
          |любых узлов
      .service-section__item
        .service-section__icon
          svg
            use(xlink:href="assets/img/sprite.svg#paper")
        .service-section__text Гарантия на все
          br
          |работы от 1 года
      .service-section__item
        .service-section__icon
          svg
            use(xlink:href="assets/img/sprite.svg#mechanic")
        .service-section__text Подберем запчасти
          br
          |по лучшей цене
      .service-section__item
        .service-section__icon
          svg
            use(xlink:href="assets/img/sprite.svg#sale")
        .service-section__text Демократичные
          br
          |цены

    footer.service-section__footer
      button.btn.btn-red.popup-open Скидка при заказе через сайт

//end service-section
