// begin menu
nav.menu
  .container
    ul.menu__list
      li.menu__item
        a.menu__link.active(href="#") Главная
      li.menu__item
        a.menu__link(href="#") О нас
      li.menu__item.menu__item--parent
        a.menu__link(href="#") Услуги
        span.menu__arrow
        ul.menu__sublist
          li.menu__subitem
            a.menu__sublink(href="#") Ремонт ходовой
          li.menu__subitem
            a.menu__sublink(href="#") Ремонт двигателей
          li.menu__subitem
            a.menu__sublink(href="#") Ремонт электрики
          li.menu__subitem
            a.menu__sublink(href="#") Ремонт выхлопа
      li.menu__item
        a.menu__link(href="#") Акции
      li.menu__item
        a.menu__link(href="#") Наш блог
      li.menu__item
        a.menu__link(href="#") Фотогалерея
      li.menu__item
        a.menu__link(href="#") BMW клуб
      li.menu__item
        a.menu__link(href="#") Контакты
// begin end
