//begin popup
.popup__layer
  .popup
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
    form.popup__form
      input.popup__input(placeholder="Ваше имя")
      input.popup__input(placeholder="Ваш телефон")
      button.btn.btn-red.popup__btn отправить
//end   popup