extends ../_template

block variables
  - var title = 'Новости'
  - var pageHeaderTitle = 'Новости'

block content
  include ../sections/header
  
  //begin content
  section.main.article#article
    header.page-header
      h2.page-header__title Новости и полезная информация

    .container
      // begin article-content
      .article-content
        .article__img
          .article__date
            span.blog-item__date--day 21
            span.blog-item__date--month сентября
          img(src="assets/img/article/article.jpg" alt="image")

        h3.article__title Подготовка авто к зиме
        p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации соответствующий условий активизации. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития. Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения соответствующий условий активизации.
        p Повседневная практика показывает, что рамки и место обучения кадров в значительной степени обуславливает создание дальнейших направлений развития. С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
      // end article-content

      // begin aside-right
      aside.aside-right
        .aside-right__menu
          h3.aside-right__title Категории
          ul.aside-right__list
            li.aside-right__item
              a(href="#").aside-right__link Все новости
            li.aside-right__item
              a(href="#").aside-right__link Новости сервиса
            li.aside-right__item
              a(href="#").aside-right__link События нашего клуба
            li.aside-right__item
              a(href="#").aside-right__link Полезная информация

        .aside-right__banner(style="background-image:url('assets/img/aside-left-banner.jpg')")
          a(href="#").aside-right__banner-link
            |Наш BMW клуб
            br
            span вступайте!

        .aside-last-article
          h3.aside-last-article__title Последние записи
          ul.aside-last-article__list
            li.aside-last-article__item
              a(href="#").aside-last-article__link Подготовка авто к зиме
              span.aside-last-article__date 21.02.2018
            li.aside-last-article__item
              a(href="#").aside-last-article__link Подготовка авто к лету
              span.aside-last-article__date 21.02.2018
            li.aside-last-article__item
              a(href="#").aside-last-article__link Подготовка авто к продаже
              span.aside-last-article__date 21.02.2018
      // end aside-right
  //end   content

  include ../sections/footer
  include ../elements/popup
