extends ../_template

block variables
  - var title = 'Quick start template'

block content
  include ../sections/header-index
  
  //begin content
  section.main
    include ../sections/second-section
    include ../sections/service-section
  //end   content

  include ../sections/footer-index
  include ../elements/popup