extends ../_template

block variables
  - var title = 'Quick start template'

block content
  include ../sections/header
  
  //begin content
  section.main
  //end   content

  include ../sections/footer
  include ../elements/popup