extends ../_template

block variables
  - var title = 'Услуги'
  - var pageHeaderTitle = 'Услуги'

block content
  include ../sections/header
  
  //begin content
  section.main.services#servises
    .container
      // begin aside-left
      aside.aside-left
        .aside-left__menu
          h3.aside-left__title Наши услуги
          ul.aside-left__list
            li.aside-left__item
              a(href="#").aside-left__link.active Компьютерная диагностика
            li.aside-left__item
              a(href="#").aside-left__link Ремонт подвески
            li.aside-left__item
              a(href="#").aside-left__link Ремонт тормозной системы
            li.aside-left__item
              a(href="#").aside-left__link Ремонт двигателей
            li.aside-left__item
              a(href="#").aside-left__link Ремонт электрики
            li.aside-left__item
              a(href="#").aside-left__link Ремонт системы охлаждения
            li.aside-left__item
              a(href="#").aside-left__link Ремонт топливной системы
            li.aside-left__item
              a(href="#").aside-left__link Чип-тюннинг

        .aside-left__banner(style="background-image:url('assets/img/aside-left-banner.jpg')")
          a(href="#").aside-left__banner-link
            |Наш BMW клуб
            br
            span вступайте!
      // end aside-left

      // begin services-content
      .services-content
        header.services__header
          h2.services__title Компьютерная диагностика

        p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации соответствующий условий активизации. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также постоянный
        p
          |Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации соответствующий условий активизации. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также постоянный
          =" "
          a(href="#") количественный рост
          =" "
          |и сфера нашей активности в значительной степени обуславливает создание модели развития. Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения соответствующий условий активизации.

        img(src="assets/img/services-img.jpg" alt="image")

        p
          |Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации соответствующий условий активизации. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также постоянный
          =" "
          a(href="#") количественный рост
          =" "
          |и сфера нашей активности в значительной степени обуславливает создание модели развития. Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения соответствующий условий активизации.

        h3 Header 3
        p Равным образом консультация с широким активом в значительной степени обуславливает создание систем массового участия. Таким образом рамки и место обучения кадров позволяет выполнять важные задания по разработке направлений прогрессивного развития.
        h4 Header 4
        p Равным образом консультация с широким активом в значительной степени обуславливает создание систем массового участия. Таким образом рамки и место обучения кадров позволяет выполнять важные задания по разработке направлений прогрессивного развития.
        h5 Header 5
        p Равным образом консультация с широким активом в значительной степени обуславливает создание систем массового участия. Таким образом рамки и место обучения кадров позволяет выполнять важные задания по разработке направлений прогрессивного развития.
        h6 Header 6
        p Равным образом консультация с широким активом в значительной степени обуславливает создание систем массового участия. Таким образом рамки и место обучения кадров позволяет выполнять важные задания по разработке направлений прогрессивного развития.
        ul
          li List 1
          li List 2
          li List 3
      // end services-content

    include ../sections/sale-section
    include ../sections/footer-lg

  //end   content

  include ../sections/footer
  include ../elements/popup
